body {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
  font-family: "Inter", sans-serif;
  color: #fff;
}

.card {
  background-color: #ffffff;
  color: #212529;
  border-radius: 1rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

header img {
  width: 72px;
}

footer a {
  color: #ddd;
  text-decoration: underline;
}
