<ul class="header-nav nav nav-underline">
    <li class="nav-item">
        <NavLinkExt class="nav-link" href="" Match="Models.UI.NavLinkExtMatch.PathAll">
            Budget
        </NavLinkExt>
    </li>
    <li class="nav-item">
        <NavLinkExt class="nav-link" href="accounts">
            Accounts
        </NavLinkExt>
    </li>
    <li class="nav-item">
        <NavLinkExt class="nav-link" href="transactions">
            Transactions
        </NavLinkExt>
    </li>
</ul>