.tran-row {
  padding: 0.5rem;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
}
.tran-row:not(:first-child) {
  border-top: lightgray 1px solid;
}
[data-bs-theme=dark] .tran-row:not(:first-child) {
  border-top: var(--bs-gray-600) 1px solid;
}
.tran-row.active {
  background-color: var(--bs-primary-bg-subtle);
}
[data-bs-theme=dark] .tran-row.active {
  background-color: var(--bs-primary-border-subtle);
}
.tran-row:hover {
  background-color: #efefef;
}
[data-bs-theme=dark] .tran-row:hover {
  background-color: var(--bs-gray-800);
}
.tran-row.active:hover {
  background-color: var(--bs-primary-border-subtle);
}
[data-bs-theme=dark] .tran-row.active:hover {
  background-color: #0a4caf;
}
.tran-row.next-month-open:not(:first-child) {
  border-top: #efefef 10px solid;
}
[data-bs-theme=dark] .tran-row.next-month-open:not(:first-child) {
  border-top: var(--bs-gray-700) 10px solid;
}

.tran-notes {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.amount-editor {
  display: flex;
}

div:focus-within .tran-row.keyboard-selected {
  outline: 2px solid var(--bs-primary);
  outline-offset: -2px;
}

/* Remove default focus outline from container */
div[tabindex]:focus {
  outline: none;
}
