<div class="mb-2">
    <label class="form-label">Status</label>
    <div class="form-control">
        <i class="fa-solid fa-magnifying-glass"></i> Unreviewed - <small class="text-secondary">Save to mark as reviewed</small>
    </div>
</div>